@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Joan&family=Kdam+Thmor+Pro&family=Lobster&family=Piazzolla:opsz,wght@8..30,200;8..30,300;8..30,400;8..30,900&family=Roboto:wght@300&family=Spline+Sans+Mono:wght@400;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
